body {
    padding: 0;
    margin: 0;
    font-size: 13px;
    font-family: Arial;
    line-height: 1.5em;
    color: #333;
	#main{
		overflow:hidden;
		margin:auto;
		width:960px;
		#left {
			width: 210px;
			float: left;
			padding-left: 40px;
			#logo {
				border-bottom: 1px solid #ccc;
				line-height::100px;
				text-decoration:none;
				text-align:center;
				h1 {
					margin: 0;
					padding: 0;
					a {
						display: block;
						background-position-x: 0;
						background-position-y: 0;
						width: 210px;
						height: 100px;
						text-indent:none;
						color:#6b6767;
						font-size: 30px;
						::hover {
							color:#333;
						}
					}
				}
			}
		}

		#right {
			width: 680px;
			float: left;
			border-left: 1px solid #ccc;
			margin-bottom: 100px;
			min-height: 600px;
			#catename {
				font-size: 25px;
				height: 60px;
				border-bottom: 1px solid #ccc;
				padding: 40px 0 0 40px;
				a {
					color: #333;
				}
			}
		}
	}
}
::selection {
    background: #ff4f92;
    color: #fff;
}
a {
	text-decoration: none;
}

#catelog {
	padding: 20px 0 20px 40px;
	border-bottom: 1px solid #ccc;
	a {
    	color: #6b6767;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		li {
			margin: 0;
			padding: 9px 0;
			font-size: 18px;
			font-family: inherit;
		}
	}
}
#info {
	border-bottom: 1px solid #ccc;
	overflow:hidden;
	a {
		display: block;
		padding: 20px 17px;
		color: #666666;
		font-size: 14px;
	}
	.info_about {
		border-right: 1px solid #ccc;
		float: left;
	}
	.info_right {
		float: left;
	}
}
